@import url('https://fonts.cdnfonts.com/css/tt-lakes-neue-trial');

.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 11, 11);
}

.title{
    font-size: 32px;
    padding: 20px;
    background: #299ADA;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: "TT Lakes Neue Trl Cmd";
    color: white;
    border-radius: 10px;
}