.cardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 150px;
}

.cardsImageStyle{
    width: 220px;
    height: 320px;
    /* margin: 2%; */
    margin-bottom: 50%;
}

.homeCardStyle{
    cursor: pointer;
}

.homeCardStyle:hover{
    transform: scale(1.1);
}

