.cardsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}

.cardsImageStyle{
    width: 200px;
    height: 300px;
    margin: 5%;
}

.homeCardStyle{
    cursor: pointer;
}

.homeCardStyle:hover{
    transform: scale(1.1);
}

