.homePage2{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

.divTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 250px;
    gap: 25px;
}

.imageStyle{
    width: 430px;
    height: 530px;
    border-radius: 10px;
}

.button{
    width: 200px;
    height: 70px;
    background-color: rgba(17, 104, 234);
    color: white;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}

.button:hover{
    /* opacity: 0.8; */
    background-color: rgba(52, 122, 227)
}

.descriptionStyle{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-align: justify;
    font-weight: bold;
    word-wrap: break-word;
    padding: 3%;
    color: white;
}

.leftDiv{
    margin-right: 300px;
    max-width: 35%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent;
}